<!DOCTYPE html>
<html>
<head>
  <title>Create a New Campus</title>
</head>
<body>
  <form action="/campuses" method="POST">
    <p>Please enter a new campus</p>
    <input type="text" name="campus" placeholder="Campus">
    <input type="text" name="number" placeholder="Number of Students">
    <button type="submit">Save</button>
  </form>
</body>
</html>