blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

#body {
  max-width: 960px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

#external-links {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

#main {
  min-width: 320px;
  width: 75.6%;
  display: inline-block;
  vertical-align: middle;
}

/* you're welcome to edit the
ge, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}


figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 500px) {
  #external-links {
    display: unset;
    vertical-align: unset;
  }
  #main {
    display: unset;
    vertical-align: unset;
  }
h1 {
  font-size: 1.5em;
}

}