#contact-info {
	font-size: .8em;

}

section.job {
	background-color: #e9e5dc;
	border-radius: 25px;
	padding: 20px; 
	margin-bottom: 10%;
	margin-top: 10%;
}

ul.accomplishments {
	font-size: .8em;
}